<div class="vertSpaceX2">
    <div class="row row-larger flexible">
        <div class="columns small-12 large-5 large-offset-1 relatif">
        
            {% if object_instance.left_legend and object_instance.right_legend %}
                <div class="row">
                    <div class="columns small-6">
                        <p><strong>{{ object_instance.left_legend }}</strong></p>
                    </div>
                    <div class="columns small-6 text-right">
                        <p><strong>{{ object_instance.right_legend }}</strong></p>
                    </div>
                </div>
            {% endif %}
            
            <div id="{{ object_instance.htmlid }}" class="twentytwenty-container">
                <img src="/media/{{ object_instance.left_image }}">
                <img src="/media/{{ object_instance.right_image }}">
            </div>
            
        </div>
        <div class="columns large-4 large-offset-1">
            {{ object_instance.description|safe }}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).load(function() {
      $("#{{ object_instance.htmlid }}").twentytwenty();
    });
</script>
