{% load product_tags %}

{% with video.files.all|dictsort:'weighting' as files and video.files.all|length as size %}
<div class="section videosproduct lazyvidContain">
    <div class="section chooseContain">
        <div class="vcontain vidcontainer">
            <div class="choosen-item" style="display: block;">
                <a class="center_center posAbsolute  ytLink fancybox.iframe" target="_blank" href="{{ files.0.url }}">
                    <span class="icon-typo ico circle">r</span>
                </a>
                <a class="img ytLink   fancybox.iframe" target="_blank" href="{{ files.0.url }}">
                    <img class="rsImg" src="/media/{{ video.background }}" style="width:100%">
                </a>            
            </div>        
        </div>
        <div class="row row-fluid largeAbsolute video_tabs large-centered">
            <div class="small-12 medium-10 large-6 columns relative medium-centered">
                <div class="row row-fluid  ">
                    {% for file in files %}
                        <div class="small-{{ 12|divide:size }} large-{{ 12|divide:size }} columns relative">
                            <div class="itemVideo  choice-item-vid {% if forloop.counter == 1 %} selected {% endif %}" data-idvid="{{ file.url }}">
                                <h2>
                                   {{ file.title }} 
                                </h2>
                                <img class="bg" src="/media/{{ file.image }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}